name: GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "latest"

      - name: 'AsciiDoctor'
        run: |
          export GEM_HOME=~/.gem
          export GEM_PATH=~/.gem
          gem install asciidoctor asciidoctor-pdf
          export PATH=$GEM_HOME/bin:$PATH

          cd static-src
          asciidoctor-pdf angelo_theodorou.adoc
          asciidoctor notes.adoc
          asciidoctor resume.adoc
          asciidoctor trip_through_graphics_pipeline_2011.adoc

          mv angelo_theodorou.pdf ../static
          mv notes.html ../static
          mv resume.html ../static
          mv trip_through_graphics_pipeline_2011.html ../static

      - name: Build
        run: hugo --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./public
